<form name="input" action"/evergreen" method="post">

	<div id="form1" class="panel-body">
		<input id="form_array" type="hidden"  value="">
		<input type="submit" class="submit find" value="SEARCH!">
	</div>

	<div id="form2">

		<select name="pattern" class="select"> 
			
			<option value="">What is the pattern of the outer leaf?</option>
			<% @leafy.each do |e| %>
			<option class="<%=e.pattern%>" value="<%= e.pattern%>"><%= e.fruit %></option>
			<%end%>
		</select></br></br>

		<select name="fruit" class="select"> 
			
			<option value="">What kind of fruit is it?</option>
			<% @evergreen.each do |e| %>
			<option class="<%=e.fruit%>" value="<%= e.fruit%>"><%= e.fruit %></option>
			<%end%>
		</select></br></br>

		<select name="shape" class="select"> 
			
			<option value="">What is the general shape of the leaf</option>
			<% @evergreen.each do |e| %>
			<option class="<%=e.shape%>" value="<%= e.shape%>"><%= e.shape %></option>
			<%end%>
		</select></br></br>

		<select name="region" class="select"> 
			
			<option value="">Where did you find this tree?</option>
			<% @evergreen.each do |e| %>
			<option class="<%=e.region%>" value="<%= e.region%>"><%= e.region %></option>
			<%end%>
		</select></br></br>

		<select name="elevation" class="select"> 
			
			<option value="">How high were you when you found this tree?</option>
			<% @evergreen.each do |e| %>
			<option class="<%=e.elevation%>" value="<%= e.elevation%>"><%= e.elevation %></option>
			<%end%>
		</select></br></br>

	</div>

</form>